#!/usr/bin/env bash

#
# This script performs a dump from the production readonly database
# and import it into the preprodread-write database
#

# Set up configuration of th import
readonly MONGO_AUTHENTICATION_DATABASE="admin"

readonly MONGO_USERNAME="admin"
readonly MONGO_PASSWORD={{ mongo_admin_password }}

readonly MONGO_PRODUCTION_HOST='srv-db-slave'
readonly MONGO_PRODUCTION_PORT={{ hostvars['srv-db-slave-prod'].mongod_port }}

# Tell to stop at the first error
set -e

# - Perform a dump of the production database
/opt/mongo-tools/bin/mongodump --ssl \
					--sslPEMKeyFile "/etc/ssl/private/{{cert_prefix}}.slash16.local.pem" \
					--sslCAFile "/usr/local/share/ca-certificates/ca-certificates.crt" \
					--host $MONGO_PRODUCTION_HOST \
					--port $MONGO_PRODUCTION_PORT \
					--username $MONGO_USERNAME \
					--password$MONGO_PASSWORD \
					--authenticationDatabase $MONGO_AUTHENTICATION_DATABASE \
					--out "/tmp/dump_prod"

# - Perform an import onto the rcurrent db
/opt/mongo-tools/bin/mongoimport --ssl \
						--sslPEMKeyFile "/etc/ssl/private/{{cert_prefix}}.slash16.local.pem" \
						--sslCAFile "/usr/local/share/ca-certificates/ca-certificates.crt" \
						--host "{{ inventory_hostname }}" \
						--port "{{ mongod_port }}" \
						--username $MONGO_USERNAME \
						--password$MONGO_PASSWORD \
						--authenticationDatabase $MONGO_AUTHENTICATION_DATABASE \
						"/tmp/dump_prod"
