---
# mongoc.conf

systemLog:
 verbosity: 0
 destination: file
 path: /var/log/mongo/mongod-config.log
 logAppend: true

storage:
 dbPath: {{ mongodb_datadir_prefix }}configdb
 journal:
  enabled: true
 mmapv1:
  smallFiles: true

processManagement:
 fork: true
 pidFilePath: /var/run/mongo/mongoc.pid

security:
 keyFile: {{ mongodb_datadir_prefix }}/secret

net:
 port: {{ mongoc_port }}

sharding:
 clusterRole: configsvr
