---
# mongod.conf

systemLog:
 verbosity: 0
 destination: file
 path: /var/log/mongo/mongod-{{ inventory_hostname }}.log
 logAppend: true

storage:
 dbPath: {{ mongodb_datadir_prefix }}mongo-{{ inventory_hostname }}
 journal:
  enabled: true
 mmapv1:
  smallFiles: true

processManagement:
 fork: true
 pidFilePath: /var/run/mongo/mongod-{{ inventory_hostname }}.pid

security:
 authorization: disabled
# keyFile: {{ mongodb_datadir_prefix }}/secret

net:
 port: {{ mongod_port }}
 bindIp: 0.0.0.0
 ssl:
  mode: requireSSL
  PEMKeyFile: /etc/ssl/private/{{ cert_prefix }}.slash16.local.pem
  CAFile: /usr/local/share/ca-certificates/ca-certificates.crt
# https://medium.com/@rajanmaharjan/secure-your-mongodb-connections-ssl-tls-92e2addb3c89

replication:
 replSetName: {{ replica_set }}
