#!/bin/bash

# mongod - Startup script for mongod

# chkconfig: 35 85 15
# description: Mongo is a scalable, document-oriented database.
# processname: mongod
# config: /etc/mongod.conf
# pidfile: /var/run/mongo/mongod.pid

# things from mongod.conf get there by mongod reading it
export LC_ALL="C"

# NOTE: if you change any OPTIONS here, you get what you pay for:
# this script assumes all options are in the config file.
CONFIGFILE="/etc/mongod-{{ inventory_hostname }}.conf"
SYSCONFIG="/etc/sysconfig/mongod"

# FIXME: 1.9.x has a --shutdown flag that parses the config file and
# shuts down the correct running pid, but that's unavailable in 1.8
# for now.  This can go away when this script stops supporting 1.8.
DBPATH=`awk -F= '/^dbpath=/{print $2}' "$CONFIGFILE"`
PIDFILE=`awk -F= '/^dbpath\s=\s/{print $2}' "$CONFIGFILE"`

MONGO_USER=root
MONGO_GROUP=root

if [ -f "$SYSCONFIG" ]; then
    . "$SYSCONFIG"
fi

start()
{
  echo -n $"Starting mongod: "
	start-stop-daemon \
        --oknodo \
        --start \
        --chuid "$MONGO_USER" \
        --pidfile "$PIDFILE" \
        --exec "/usr/bin/mongod" -- -f '/etc/mongod-{{ inventory_hostname }}.conf'
  RETVAL=$?
  echo
  [ $RETVAL -eq 0 ] && touch /var/lock/subsys/mongod-{{ inventory_hostname }}
}

stop()
{
  echo -n $"Stopping mongod: "

  if [ "$(/bin/ps -edaf | /bin/grep '/usr/bin/mongod' | /bin/grep -v 'grep')" != "" ]; then
	  /usr/bin/mongod \
	  -f '/etc/mongod-{{ inventory_hostname }}.conf' \
  	--shutdown
  fi

	start-stop-daemon \
          --oknodo  \
          --stop \
          --chuid "$MONGO_USER" \
          --pidfile "$PIDFILE"
  RETVAL=$?
	echo
  [ $RETVAL -eq 0 ] && rm -f /var/lock/subsys/mongod-{{ inventory_hostname }}
}

restart () {
    stop
    start
}

ulimit -n 12000
RETVAL=0

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart|reload|force-reload)
    restart
    ;;
  condrestart)
    [ -f /var/lock/subsys/mongod ] && restart || :
    ;;
  status)
    status $mongod
    RETVAL=$?
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|reload|force-reload|condrestart}"
    RETVAL=1
esac

exit $RETVAL
