rs.initiate(
  {
    _id : "{{ replica_set }}",
    members: [
			{ _id : 0, host: "{{ srv_db_master.host }}.slash16.local:{{ srv_db_master.mongod_port }}" },

      { _id : 1, host: "{{ srv_db_slave.host }}.slash16.local:{{ srv_db_slave.mongod_port }}", priority: 0, votes: 0, buildIndexes: false },
    ]
  }
)

printjson(rs.status());
