---
# mongod.conf

systemLog:
 verbosity: 0
 destination: file
 path: /var/log/mongo/mongod-{{ inventory_hostname }}.log
 logAppend: true

storage:
 dbPath: {{ mongodb_datadir_prefix }}mongo-{{ inventory_hostname }}
 journal:
  enabled: true
 mmapv1:
  smallFiles: true

processManagement:
 fork: true
 pidFilePath: /var/run/mongo/mongod-{{ inventory_hostname }}.pid

security:
 keyFile: {{ mongodb_datadir_prefix }}/secret

net:
 port: {{ mongod_port }}

replication:
 replSetName: {{ replica_set }}
