rs.initiate(
  {
    _id : "{{ replica_set }}",
    members: [
    {% for host in groups['replication_servers'] %}
      { _id : {{loop.index}}, host: "{{host}}:{{mongod_port}}" },
    {% endfor %}
    ]
  }
)

printjson(rs.status());
