global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend https
    bind *:80
        bind *:443 ssl crt {{ssl_pem_path}}

        mode http
        option httpclose
        option forwardfor
        reqadd X-Forwarded-Proto:\ https

        # gestion des logs
        log /dev/log local0 info
        http-request add-header X-CLIENT-IP %[src]

        #on force https (pas obligatoire)
        acl http      ssl_fc,not
        http-request redirect scheme https if http

        # si le visiteurs tentent de joindre depuis un hostname inconnu, on renvoie vers cette config serveur
        default_backend serveur_web

        # On défini les hostnames
        acl host_www.slash16.local hdr(host) -i www.slash16.local

        ## On associe quelle config serveur (backend) va avec quel hostname
        use_backend nodes if host_www.slash16.local

backend nodes
    mode http
    balance roundrobin
    option forwardfor
    cookie SERVERID insert indirect nocache
    {% for host in groups['workers'] %}
        server {{ host }} {{ host }}.slash16.local:{{ worker_port }} check ssl verify none
    {% endfor %}


listen stats
	bind *:1936 ssl crt /etc/ssl/certs/HAPROXY.pem
	mode http
	stats enable
	stats uri /
	stats hide-version
	stats auth {{auth_user}}:{{auth_password}}
