vrrp_script reload_haproxy {
        script "killall -0 haproxy"
        interval 1
}

vrrp_instance VI_1 {
	 virtual_router_id 100

	 state {{state}}
   priority 100

	 # Check inter-load balancer toutes les 1 secondes
   advert_int 1


	 # Synchro de l'état des connexions entre les LB sur l'interface eth1
   lvs_sync_daemon_interface {{interface}}

   interface {{interface}}

   # Authentification mutuelle entre les LB, identique sur les deux membres
   authentication {
        auth_type PASS
        auth_pass secret
   }

   # Interface réseau commune aux deux LB
   virtual_ipaddress {
        192.168.125.110/32 brd 192.168.125.255 scope global
   }

   track_script {
       reload_haproxy
   }

}
