---
# mongos.conf

systemLog:
 verbosity: 0
 destination: file
 path: /var/log/mongo/mongos.log
 logAppend: true

processManagement:
 fork: true
 pidFilePath: /var/run/mongodb/mongos.pid

security:
 keyFile: {{ mongodb_datadir_prefix }}/secret

net:
 port: {{ mongos_port }}
 ssl:
  mode: requireSSL
  PEMKeyFile: /etc/ssl/certs/mongodb.pem

{% set hosts = '' %}
{% for host in groups['mongoc_servers'] %}
{% if loop.last %}
{% set hosts = hosts + host + ':' ~ mongoc_port  %}
sharding:
  configDB: {{ hosts }}
{% else %}
{% set hosts = hosts + host + ':' ~ mongoc_port + ','  %}
{% endif %}
{% endfor %}
